# ==========================================
# Valheim Dedicated Server Environment Configuration Template (ARM64)
# ==========================================

SERVER_NAME="Valheim Server"
SERVER_WORLD="DedicatedWorld"
SERVER_PASSWORD="ChangeMe12345!"
SERVER_PORT=2456
SERVER_VISIBILITY=0
ENABLE_CROSSPLAY=true
ENABLE_PLUGINS=true

SERVER_SAVE_INTERVAL=1800
SERVER_BACKUPS=8
SERVER_BACKUP_SHORT=3600
SERVER_BACKUP_LONG=43200

# -----------------
WEBHOOK_SECRET="your_secure_random_token_here"
